.o-button {
	padding:$padding-m $padding-xl;
	display: inline-block;
	text-decoration: none;
	text-align: center;
	width:100%;
	margin:$margin-xs $margin-none;
	/* you can change the padding sizes*/
}

.o-button__main {
	@include btn-style($white, $brand-main); 
	@include btn-bgBorder-hover($brand-main-darken, $brand-main-darken); 
	@include border-all(2px, solid, $brand-main);
	@include border-radius(5px);
	/* you can add some css*/
}

.o-button__secondary {
	@include btn-style($white, $brand-secondary);
	@include border-all(2px, solid, $brand-secondary);
	@include btn-bgBorder-hover($brand-secondary-darken, $brand-secondary-darken); 
	@include border-radius(5px); 
	/* you can add some css*/
}

.o-button__default {
	@include btn-style($black, $default); 
	@include border-all(2px, solid, $default);
	@include btn-bg-hover($default); 
	/* you can add some css*/
}

.o-button__icon {
	display: inline-block;
	vertical-align: middle;
}

.o-button__text {
	display: inline-block;
	vertical-align: middle;
}