.o-input--holder {
	padding:$padding-s;
	position: relative;
	border:1px solid $default;
	
	input {
		width:100%;
		padding-left: 30px;
		border:none;
	}
}

.o-input__iconHolder {
	width:30px;
	position: absolute;
	top:1px;
}

input[type="radio"], input[type="checkbox"] {
	width:5%;
	padding:0;
	margin:0;
	@include inline-block(inline-block, middle);
}

select{
	width:100%;
}

/* input with button */
.o-input--holderButton {
	input{
		width:79%;
		display: inline-block;
		padding: $padding-m;
	}

	.o-button {
		width:20%;
		display: inline-block;
		margin-left:-5px;
		@include border-top-radius(0);
		@include border-bottom-radius(0);
	}
}