/* BUTTONS STYLE in class formed*/
%o-btn{
	display: inline-block;
	vertical-align: middle;

	padding:$p-xs;
	text-decoration: none;
	cursor: pointer ;
	font-size: em(14);
	font-family: $font-primary;
	text-align: center;
	outline:none;
}


.o-btn__primary {
	@extend %o-btn;
	background-color:$c-primary;
	color:$c-white;
	border:none;
	@include hover-bg($c-black);
}

.o-btn__secondary {
	@extend %o-btn;
	background-color: $c-secondary;
	color:$c-white;
	border:none;
	@include hover-bg($c-black);
}

.o-btn__cta {
	@extend %o-btn;
	background-color: $c-cta;
	color:$c-white;
	border:none;
	@include hover-bg($c-black);
}

/* with icons */
.o-btn__iconholder {
	display: inline-block;
	padding:$p-none $p-xxs;
}

/* full width */

.o-btn__fullwidth {
	display: block;
	width: 100%;
	margin:$m-xxs $m-none;
}

/* disabled */
.o-btn__disabled {
	@extend %o-btn;
}

/* pagination buttons */
.o-pagination__btn--next {
	position: absolute;
	top:0;
	left:0;
}

.o-pagination__btn--prev {
	position: absolute;
	top:0;
	right:0;
}