/* PAGINATION */

.c-pagination {
	position: relative;
}

.c-pagination__pages {
	display: inline-flex;
	justify-content:center;
	padding:$p-xxs $p-none;
	margin:0;
	width: 100%;
}

.c-pagination__listLink {
	display: block;
	padding:$p-xxs $p-xs;
	color:$c-secondary;
	text-decoration: none;
	@include hover-text-bg($c-secondary, $c-white);
}

.c-pagination--active {
	background-color:$c-secondary;
	
	.c-pagination__listLink {
		color:$c-white;
	}
}
