/* 
 * FONT VARIABLES 
 * variables for:
 * font family use
 * font weight
 * 
*/

$font-primary:'Roboto';
$font-secondary:'Open Sans';

/* font weight */

$lightest: 100;
$lighter: 200;
$light: 300;
$regular: 400;
$semi-medium: 500;
$medium: 600;
$bold: 700;
$bolder: 800;
$boldest:900;