/* GLOBAL */
/* 
 * FONTS
 * font-family
 * font-weight
*/
$font-family:'Roboto', sans-serif;

$lightest: 100;
$lighter: 200;
$light: 300;
$regular: 400;
$semi-medium:500;
$medium: 600; 
$bold: 700;
$bolder: 800;
$boldest: 900;


/* PADDING */
$padding-none:0px;
$padding-xs: 2px;
$padding-s: 5px;
$padding-m: 10px;
$padding-l: 15px;
$padding-xl: 20px;
$padding-xxl: 30px;

/* MARGIN */
$margin-none:0px;
$margin-xs: 2px;
$margin-s: 5px;
$margin-m: 10px;
$margin-l: 15px;
$margin-xl: 20px;
$margin-xxl: 30px;

