/* COLORS */

$brand-main: #f9a728;
// $brand-main-light: #dc8a0a;
$brand-main-darken: #dc8a0a;

$brand-secondary: #22BEF1;
/* $brand-secondary-lighten: ; */
$brand-secondary-darken: #008080;

/* GLOBAL COLORS */
$error:#D50000;
$success:#4CAF50;
$default:#E0E0E0;
$warning:#FF3D00;
$white:#FFFFFF;
$black:#000000;