/* STYLGUIDE */

.sg-wrap{
	// background:#ececec;
	max-width:1000px;
	margin:0 auto;
	padding:$padding-m;
}

.sg-title {
	text-align: center;
}

.sg-title--secondary {
	text-align: left;
	padding:$padding-s;
}

.sg-paragraph {
	font-size: 12px;
	padding:$padding-xs $padding-none;
}

.sg-content{
	padding:$padding-m $padding-none;
}

/* cards */
.sg-card{
	background-color:$white;
	border:1px solid $default;
	padding:$padding-m;
}

/* colors */
.sg-card--color{
	display: inline-block;
	width:30%;
	margin-bottom:3px;
}
.sg-color{
	width:100%;
	height:20px;
}
.sg-color--name{
	padding:$padding-s $padding-none;
	font-weight: bold;
}

.sg-color--hex{
	padding:$padding-s $padding-none;
}

.sg-code{
	border:1px solid;
	padding:$padding-s $padding-m;
	color:$white;
	background-color: #1d1f20;
	font-size: 12px;
	margin:$margin-xs $margin-none;
}

.sg-main{
	.sg-color {
		background-color: $brand-main;
	}
	.sg-color--name,.sg-color--hex{
		color:$brand-main;
	}
}

.sg-main--darken{
	.sg-color {
		background-color: $brand-main-darken;
	}
	.sg-color--name,.sg-color--hex{
		color:$brand-main-darken;
	}
}

.sg-secondary{
	.sg-color {
		background-color: $brand-secondary;
	}
	.sg-color--name,.sg-color--hex{
		color:$brand-secondary;
	}
}

.sg-secondary--darken{
	.sg-color {
		background-color: $brand-secondary-darken;
	}
	.sg-color--name,.sg-color--hex{
		color:$brand-secondary-darken;
	}
}

.sg-error{
	.sg-color {
		background-color: $error;
	}
	.sg-color--name,.sg-color--hex{
		color:$error;
	}
}

.sg-success{
	.sg-color {
		background-color: $success;
	}
	.sg-color--name,.sg-color--hex{
		color:$success;
	}
}

.sg-default{
	.sg-color {
		background-color: $default;
	}
	.sg-color--name,.sg-color--hex{
		color:$default;
	}
}

.sg-warning{
	.sg-color {
		background-color: $warning;
	}
	.sg-color--name,.sg-color--hex{
		color:$warning;
	}
}

/* TYPOGRAPHY */

.sg-fontLightest{
	.sg-font--name{
		font-weight: $lightest;
	}
}

.sg-fontLighter{
	.sg-font--name{
		font-weight: $lighter;
	}
}

.sg-fontLight{
	.sg-font--name{
		font-weight: $light;
	}
}

.sg-fontRegular{
	.sg-font--name{
		font-weight: $regular;
	}
}

.sg-fontSemiMedium{
	.sg-font--name{
		font-weight: $semi-medium;
	}
}

.sg-fontMedium{
	.sg-font--name{
		font-weight: $medium;
	}
}

.sg-fontBold{
	.sg-font--name{
		font-weight: $bold;
	}
}

.sg-fontBolder{
	.sg-font--name{
		font-weight: $bolder;
	}
}

.sg-fontBoldest{
	.sg-font--name{
		font-weight: $boldest;
	}
}

.sg-ellipsis {
	@include text-truncate;
	width:40%;
}

/* BUTTON */
.sg-buttons {
	display: inline-block;
	vertical-align: top;
	width: 45%;
}

/* Gradient */

.sg-gradients {
	max-height:300px;
	overflow: hidden;
}

.sg-gradientBox {
	height:100px;
}

.sg-linear--ttb {
	@include linear-direction(to left, $brand-main, $brand-secondary);
}

/* Inputs */
