@mixin btn-style($color, $bg) {
	background-color: $bg;
	color:$color;
}

@mixin btn-bg-hover($bg) {
	&:hover{
		background-color: $bg;
	}
}

@mixin btn-bgBorder-hover($bg, $border) {
	&:hover {
		background-color: $bg;
		border-color:$border;
	}
}